*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li, 
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  place-items: end;
  gap: 30px;
  inline-size: 1140px;
  margin: auto;
}

.result {
  margin-top: 78px;
 
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
  margin-bottom: 25px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  inline-size: 100%;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  position: relative;
  padding-bottom: 5px;
  text-decoration: underline transparent;
}

.search-form__label-text {
  cursor: pointer;
}


.search-form__label:hover {
  text-decoration: underline 1px #FFF;
  text-underline-offset: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-decoration-thickness:  1px;
  text-underline-offset: 2px;
}


.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
  height: 31px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}



.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
  transition: all 0.3s ease;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.button {
  width: 100%;
  height: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, san-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;

}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #FFF;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
}

.search-form__submit-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
  flex-basis: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 6px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: 196px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color:#fff;
}

.content__list-container {
  block-size: 298px;
  overflow-x: auto;
  position: relative;
  margin-top: 26px;

}

.content__list-item {
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  display: grid;
}

.content__list-item:focus {
  outline: none;
} 

.content__list-item:focus-visible {
  outline: 1px solid #FFF;
}

.more-button {
  inline-size: 100%;
  padding: 6px 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


